/* CSS Document */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

.image { 
   position: relative; 
   width: 90%; 
   background-image: url(../Untitled-1.jpg);
   padding-top:10px;
   padding-bottom: 10px;
}

h2 { 
   position: center; 
   left: 0; 
   font-size: 18px;
}

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	font-size:16px;
	text-align: center;
	padding:40px;
	margin-left: 100px;
	margin-right:100px;
	background-position:center;
	background-color: #0074A5
	}
	
	
	#p2 {text-size: 24px; }
	
	
	hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
	
	
	
	nav {
   
  
    float: inherit;
	width: 152px;
	height: 24px;
	font-family: Helvetica;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	}
	

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.span_1_of_3 { width: 30%;
}

.span_2_of_3 { width: 65%;
}

.span_3_of_3 { width: 98%;
}


.span_5_of_5 {
	width: 99%;
}

.span_4_of_5 {
  	width: 79.68%; 
}

.span_3_of_5 {
  	width: 59.36%; 
}

.span_2_of_5 {
  	width: 39.04%;
}

.span_1_of_5 {
  	width: 18.72%;
}
 div {margin: 5px;
    padding: 5px;
    border: 0;
    outline: 0;
    font-size: 14px;
    vertical-align: baseline;
    background: transparent;
 }
 
 #one {
	 font-size:18px;
	 position: inherit;
 }
 
 a {
    color: #FFFFFF;
	font-style:normal;
	text-decoration:none;
	
}
a:hover {
	color: #CF77EB;
}
 
 #two {
	  font-size:24px;
	  background-color:#B11517
 }
 

	h1 { font-size:60px; }
	.header { padding:1em 0; }
	.col { padding:1em 0; text-align:center; }
	